body{
	margin: 0 !important;
	padding: 0 !important;
	/**background-image: url("Images/background.png");*/
	background-color: aliceblue;
	background-size: 5000px;
	font-family: Roboto, sans-serif; 
}

.h3h3{
	font-family: "Roboto";
	color: Grey;
}

.hr{
	color: #333333;
}

.centerTextClass{
	text-align: center;
	float: top;
	/*background-color: rgba(199,203,203,0.9);*/
	margin: 7.5%;
	padding: 1%;
	padding-bottom: 10%;
	color: rgb(90,100,102);
	font-family: "Open Sans";
	font-size: 200%;
	border-bottom: #333333;
	border-bottom-style: ridge;
	/*border-color: DimGrey;
	/**box-shadow: 5px 5px	6px black;**/
}

.foot{
	background-color: #333333;
	font-family: "Open Sans";
	color: whitesmoke;
	padding: 1%;
}

footer { 
  display: block;
}

.imgLogo{
	
}

.imgRenders{
	width: 300px;
	height: 180px;
	border-radius: 2px;
	float: inherit;
	margin: 50px 50px;
	box-shadow: 5px 5px 10px Black;
}

.ikona{
	width: 200px;
	height: 150px;
	
}

.g_small_title{
	color: rgb(90,100,102);
	font-family:  Roboto, sans-serif; 
	font-size: 150%;
	font-weight: bold;
}

.g_big_title{
	color: rgb(90,100,102);
	font-family:  Roboto, sans-serif; 
	font-size: 250%;
	font-weight: bold;
}

.g_h2{
	color: rgb(90,100,102);
	font-family:  Roboto, sans-serif; 
	font-size: 130%;
	font-weight: bold;
}

.g_images{
	width: 25%;
	height: 25%;
	margin: 10px;
	box-shadow: 5px 5px 5px Black;
}

.g_text{
	font-family: Roboto, sans-serif;
	font-size: 110%;
	
}

.g_box{
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: rgb(90,100,102);
	background-color: rgba(90,90,90, 0.1);
	padding-left: 3px;
	
}

/* Login stuff*/
.buttonStyle{
	background-color: #52ff40;
	padding: 5px 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	cursor: pointer;
}

.buttonStyle:hover{
	opacity: 0.8;
}

.Error{
	color: #ff0a4a;
	font-family: Roboto, sans-serif;
	font-size: 110%;
}

.g_login{
	font-family: Roboto, sans-serif;
	font-size: 110%;

}

/*** Header: Logotip in navigacija ********/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #fff;
	color: rgba(60,60,60,0.9);
	border: 0;
	font-size: 1.2em;
}

.navbar-inverse .navbar-toggle {
	border-color: #aaa;
	background-color: #aaa;
	margin-top: 30px;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    border-color: #666;
	background-color: #666;
}

.navbar-brand {
	float: left;
	min-height: 85px;
	padding: 10px 0 0 25px;
}

.navbar-inverse .navbar-nav { margin-top: 40px; }

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
	color: #000;
	background-color: #fff;
}

.navbar-inverse .navbar-nav li a {
	color: #999;
	padding: 3px 8px;
}

.navbar-inverse .navbar-nav li a:hover { color: #333; }

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav {
		margin-top: 5px;
		padding-left: 25px;
	}
}


/** Upload section**/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.upload_box{
	border-style: dotted;
	width: 100%;
	height: 400px;
	font-family: Roboto, sans-serif;
	background-color: rgba(90,100,100,0.5);
}

.upload_text{
	padding-top: 50%;
}

.box__file{
	text-align-all: center;
	padding-top: 22%;
	font-family: Roboto, sans-serif;
}

.box__button{
	background-color: #333333;
}

box__dragndrop{
	text-align-all: center;
	padding-top: 22%;
	font-family: Roboto, sans-serif;
}

